.engine {
  background-image: url("https://spaceship-workshop.netlify.com/engine.png");
  width: 1038px;
  height: 694px;
  position: relative;
}

.engineMonitor {
  position: absolute;
  background-color: Black;
  width: 110px;
  height: 40px;
  left: 454px;
  top: 458px;
  padding: 10px;
  font-family: monospace;
  color: White;
  font-size: 10pt;
}

.engineMonitor h1 {
  color: Green;
  font-size: 10pt;
  display: inline;
}

.cockpit {
  background-image: url("https://spaceship-workshop.netlify.com/cockpit.png");
  width: 1038px;
  height: 694px;
  position: relative;
}

.engineModePanel {
  position: absolute;
  width: 102px;
  height: 100px;
  left: 445px;
  top: 458px;
  color: White;
  padding: 0;
  margin: 0;
}

input[type="radio"]:after {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  top: -1px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid white;
}

input[type="radio"]:checked:after {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  top: -1px;
  left: -1px;
  position: relative;
  background-color: Black;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid white;
}

.navigationPanel {
  position: absolute;
  width: 250px;
  height: 48px;
  left: 245px;
  top: 309px;
  color: White;
  padding: 0;
  margin: 0;
}

.navigationPanel input {
  width: 30px;
  margin-left: 10px;
}

.navigationPanel label {
  width: 200px;
  display: inline-block;
}

.locationPanel {
  position: absolute;
  width: 250px;
  height: 48px;
  left: 545px;
  top: 309px;
  color: White;
  padding: 0;
  margin: 0;
}
